<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855518654690-15actou03ois6t209819nbb319nvf956.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855518654690-15actou03ois6t209819nbb319nvf956</string>
	<key>API_KEY</key>
	<string>AIzaSyDizn-wUeMebvE8XuNDF0ttn2aBPWikdZM</string>
	<key>GCM_SENDER_ID</key>
	<string>855518654690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amaisoft.internal</string>
	<key>PROJECT_ID</key>
	<string>amaisoft-internal</string>
	<key>STORAGE_BUCKET</key>
	<string>amaisoft-internal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855518654690:ios:ca21c1b365b29deaa76ebb</string>
</dict>
</plist>